.content{
  .indexNav{
    margin-top: 20px;
    display: flex;
    width: 100%;
    image{
      width:25%;
      height: 180px;
    }
  }
  .indexFloor{
    margin-top: 80px;
    .indexFloorItem{
      overflow: hidden;
      margin-bottom: 50px;
      .item_title{
        image{
          width: 100%;
          height: 80px;
        }
      }
      .item_content_img{
        width: 33.3333%;
        float: left;
      }
      .item_content_img:nth-last-child(-n+4){
        height: 240px;
        border-left: 10px solid #fff;
        box-sizing:border-box
      }
      .item_content_img:nth-child(2),.item_content_img:nth-child(3){
        border-bottom: 10px solid #fff;
        box-sizing:border-box
      }
    }
  }
}
